<configuration debug="false">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %level [%thread] %contextName %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>aidbox.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %level [%thread] %contextName %logger{40} || %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="aidbox" level="DEBUG"/>
  <logger name="com.zaxxer.hikari" level="INFO" />

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
